<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ADMIN</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Tweaks.css")
    @Styles.Render("~/Content/admin.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="top-nav">

        <button class="btn pull-right top-right-menu">
            <span class="glyphicon glyphicon-user"></span>
            <span>Welcome, User</span>
        </button>
        <h3 style="color: #fff; margin: 0;">PMIS</h3>
    </header>
    <div class="sidebar">
        <nav class="sidebar-menu">

            <div class="form-group search-field hidden">
                <input class="form-control" placeholder="Search" />
            </div>

            <h3 style="padding: 15px; margin: 0px;">PMIS</h3>

            <!-- ACCORDION MENU -->
            <div class="panel-group" id="accordion">


                <div class="panel">
                    <div class="panel-heading panel-active">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#dashboard">
                                Dashboard
                            </a>
                        </h5>
                    </div>
                </div>


                <div class="panel">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#projects">
                                Projects
                            </a>
                        </h5>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#tasks">
                                Tasks
                            </a>
                        </h5>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#resources">
                                Resources
                            </a>
                        </h5>
                    </div>
                </div>


            </div>
        </nav>


    </div>

    <main class="main-content">

        <div class="container-fluid body-content">

            @RenderBody()
            
        </div>
        
    </main>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

